# Virtual Environment
venv/
.venv/
env/

# Environment Variables / Secrets
.env
.env.*
!.env.example

# Python Cache
__pycache__/
*.py[cod]
*.class

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Raw NHANES Data
data/raw/

# Temporary Files
*.tmp
*.log

# Python Build Files
build/
dist/
*.egg-info/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
data/processed/
models/nhanes_final_stacking_all_25.joblib
models/nhanes_final_voting_all_25.joblib
